<%#=TOP%>
    <div class="section container-fluid" id="pr-sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                    <div class="row d-flex m-ad">
                        <%= form_for @parking, url: parking_create_path do |f| %>
                            <div class="col-md-6">
                                <label class="control-label" for="">入荷予定日</label>
                                <%= f.date_field :start_on, class: 'form-control date-picker' %>
                            </div>                

                            <div class="col-md-6">
                                <label class="control-label" for="">商品公開予定日時</label>
                                <%= f.datetime_select :finish_on, {}, class: 'form-control' %>
                            </div>     

                            <div class="col-xs-12">
                                <%= f.submit '登録', class: 'btn btn-primary' %>
                            </div>                                   
                        <% end %>
                    </div>
                </div>            
            </div>
        </div>
    </div>