

<main>

    <div class="section" id="sct0">
        <div class="bg">
            <img src="/alfred-kenneally-oo5qapesufw-unsplash_optimized.jpg" alt="トップ画像" class="">
        </div>
    </div>
    <%#=TOP%>
    <div class="section container-fluid" id="sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                    <h1 class="top-title">
                        <div class="en main">ORIGINAL PARKING SYSTEM</div>
                        <div class="jn sub">独自の駐車場貸出システム</div>
                    </h1>
                    <div class="row d-flex m-ad">
                        <div class="col-xs-6">
                            <% if current_user %>
                                <a href="/parking/start">
                                    <p>利用を開始する</p>
                                </a>
                            <% else %>
                                <a href="/parking/start" id="user-select-modal-button">
                                    <p>利用を開始する</p>
                                </a>
                            <% end %>
                        </div>
                        <div class="col-xs-6">
                            <% if current_user %>
                                <a href="/parking/finish" id="parking-finish-modal-button">
                                    <p>利用を終了する</p>
                                </a> 
                            <% else %>
                                <a href="/parking/start" id="user-select-modal-finish-button">
                                    <p>利用を終了する....</p>
                                </a>                
                            <% end %>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
    <%#=PRICE DETAILS%>
    <div class="section container-fluid" id="sct2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                    <h2>
                        <div class="small-title">PRICE DETAILS</div>
                    </h2>
                    <div class="price-box">
                        <h3>60分 100円</h3>
                        <h3>24時間 最大400円</h3>
                    </div>
                    <div class="attention">
                        <p>※現在、他サイトでもこちらの駐車スペースを貸し出しているため、日をまたぐ貸し出しは行っていません。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%#=MAP & APPEARANCE%>
    <div class="section container-fluid" id="sct3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper">
                    <div class="admin-box">
                        <img src="/marcel-strauss-PiFwj9Y2ajw-unsplash_optimized.jpg" alt="車の画像" class="up-icon">
                        <div class="admin-title">
                            MA<span class="span-pr-ad">P</span><br>
                            <span class="span-px-ad">&</span><br>
                            <span class="span-pl-ad">A</span>PPEARANCE
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative">        
            <img src="/IMG_4192.jpg" alt="駐車場画像">                            
            <%# <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2216.602671659376!2d139.72858245277416!3d35.79974929849703!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018930ac30ef1a1%3A0x4bd4d00b16c09534!2z44CSMzMyLTAwMTEg5Z-8546J55yM5bed5Y-j5biC5YWD6YO377yR5LiB55uu77yR!5e0!3m2!1sja!2sjp!4v1610550029095!5m2!1sja!2sjp" class="map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                 %>
        </div>
    </div>

    <%#=NOTICE%>
    <div class="section container-fluid" id="sct4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                    <h2>
                        <div class="small-title">NOTICE</div>
                    </h2>
                    <div class="notice-box">
                        <p>
                            近日、こちらのサイトへの完全移行に伴い、日をまたぐ貸し出し及び予約機能の追加が行われます。<br>
                            これからもSHIMAHIKA PARKINGをよろしくお願い致します。
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%#=ADMIN%>
    <div class="section container-fluid" id="sct5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper">
                    <div class="admin-box">
                        <img src="/me-icon_optimized.png" alt="" class="up-icon">
                        <div class="admin-title">
                            管理者<span class="span-pr-ad">に</span><br>
                            <span class="span-pl-ad">つ</span>いてよく知る
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative">
            <a href="https://shimahika-blog.net/my_page/" target="_blank" rel="noopener noreferrer" class="surround">
                <p class="sub-read">PORTFOLIO</p>
                <img src="/46106870_optimized.dff24e473c8b4e61b5e31ae113f20753.19072300-copy-whiteblack.jpg" alt="ポートフォリオ画像白黒" class="white-black">
                <img src="/46106870_optimized.dff24e473c8b4e61b5e31ae113f20753.19072300-copy.jpg" alt="ポートフォリオ画像">            
            </a>
        </div>
    </div>
</main>


<%# SCROLL TOP BUTTON %>
<div id="scroll_to_top" class="button">
  <i class="far fa-caret-square-up"></i>
</div>

<%#=MODAL%>
    <% if current_user %>
        <div class="parking-finish-modal-wrapper" id="parking-finish-modal">    
            <div class="parking-finish-modal-content">
                <div class="overlay"></div>
                <div class="modal finish-modal">
                    <div class="conteiner text-center">
                        <div class="row">
                            <img src="/me-icon_optimized.png" alt="" class="up-icon">
                            <% if @parking.finish_stamp == "yes" %>
                                <div class="col-xs-12 text">
                                    <div class="bold">何も利用していません。</div>                       
                                </div>  
                            <% elsif @parking.finish_stamp == "no" %>  
                                <div class="col-xs-12 text">
                                    <div class="bold">利用終了を確定してよろしいですか？</div>
                                    <p class="black-opa pt-2per">
                                        利用終了確定時刻 : <%=@timedisplay%>
                                    </p>                            
                                </div>     
                                <div class="col-xs-12 next-button">
                                    <%= link_to("確定する",parking_finish_path, method: :post) %>
                                </div>                                                                      
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    <% end %>

<%#=MODAL%>
    <div class="user-select-modal-wrapper" id="user-select-modal">    
        <div class="user-select-modal-content">
            <div class="overlay"></div>
            <div class="modal">
                <div class="conteiner text-center">
                    <div class="row">
                        <img src="/me-icon_optimized.png" alt="" class="up-icon">
                        <div class="col-xs-12 text">
                            <div class="bold">利用方法を選択する</div>
                            <p class="black-opa">
                                いずれのご利用方法でもクレジットカードのご登録が必要になります。<br>
                                アカウントを作成することで次回のご利用をスムーズにすることができます。
                            </p>
                        </div>                        
                        <div class="col-xs-12 field up">
                            <a href="/login" class="">
                                <p class="form-for-area">ログイン</p>
                            </a>
                        </div>                                                
                        <div class="col-xs-6 field left">     
                            <a href="/signup" class="">
                                <p class="form-for-area">アカウント作成</p>
                            </a>
                        </div>                        
                        <div class="col-xs-6 field right">  
                            <a href="/guest/signup" class="">
                                <p class="form-for-area">ゲスト利用</p>
                            </a>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>
    </div> 