

<%#=TOP%>
    <div class="section container-fluid security" id="security">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center pr-md-ad">
                    <div class="m-ad pr-bg" id="pr-start-top">
                        <h2 class="pb-2per border-bottom subject">特定商取引法に基づく表示</h2>
                        <div class="inner text-left">
                            <h3>1. 販売事業主名（登記簿法人名）</h3>
                            <p>SHIMAHIKA-PARKING 野入 隆史</p>
                            <h3>2.運営責任者</h3>
                            <p>野入 隆史</p>
                            <h3>3.本社所在地</h3>
                            <p>埼玉県川口市元郷1-1-13</p>
                            <h3>4.問い合わせ窓口</h3>
                            <p>080-9970-5752</p>
                            <h3>5.商品代金以外の必要料金</h3>
                            <p>なし</p>
                            <h3>6.お支払い方法</h3>
                            <p>クレジットカード決済</p>
                            <h3>7.代金の支払い時期</h3>
                            <p>クレジットカード決済：購入時</p>
                            <h3>8.商品の引渡し時期</h3>
                            <p>クレジットカード：注文後、すぐにご利用開始となります。</p>
                            <h3>9.返品・交換不良品について</h3>
                            <p>商品特性上、返金・キャンセルについてはお受けできません。</p>
                        </div>
                    </div>               
                </div>            
            </div>
        </div>
    </div>


    
    